
@using TriThucOnline_TTN.Models;

@model List<Cart>


@foreach (var item in Model)
{
    <tr>
        <td>
            <img src="" style="margin-right: 40px" alt="">
        </td>
        <td>
            <a href="@Url.Action("Details", "DAUSACH", new { @id = item.book_id })"><p style="margin-right: 40px">@item.book_name</p></a>
        </td>
        <td style="text-align:center">
                <p style="margin:5px;margin-right: 40px">Số lượng</p>
                <p style="margin-right: 40px">@item.quantity</p>
        </td>
        <td >
            <p style="margin:5px">Thành Tiền </p>
            <p style="color:#F11499">@string.Format("{0:0,0}", item.total * item.quantity) VNĐ</p>
        </td>
    </tr>

}
@{double tongTien = 0;
    foreach (var item in Model)
    {
        tongTien += (double)item.total * item.quantity;
    }
}
<script>
        $(document).ready(function () {

            $("#totalprice").html('@string.Format("{0:0,0}", tongTien) VNĐ');
            $("#totalpayment").html('@string.Format("{0:0,0}", tongTien) VNĐ');
        });
</script>