@using PagedList.Mvc;
@using PagedList;
@using TriThucOnline_TTN;
@using RestSharp
@using TriThucOnline_TTN.Models;
@using Newtonsoft.Json;
@model PagedList.PagedList<TriThucOnline_TTN.Models.Order>
@{
    User user = null;
}
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.id</td>
            @{
                // GET

                Extensions.request = new RestRequest($"user/" + @item.user_id, Method.GET);

                var responseTask = Extensions.client.ExecuteAsync(Extensions.request);
                responseTask.Wait();

                var result = responseTask.Result;
                if (result.IsSuccessful)
                {
                    user = JsonConvert.DeserializeObject<User>(result.Content);
                    <td data-toggle="tooltip" title="Thông tin khách hàng"><a href="#" onclick="ChiTietKH(@item.user_id)"><img src="@user.picture" class="avatar" alt="Avatar"> @user.name</a></td>
                    <td class="address_@user.id"></td>
                    <script>
                        Array.from(document.getElementsByClassName("address_@user.id")).forEach((element)=>{element.innerHTML = localStorage.getItem(@user.province_code)});
                    </script>
                }
                else
                {
                    <td></td>
                    <td></td>
                }
            }
            @{
                int ts = Convert.ToInt32(item.order_date);
                DateTime dt = new DateTime(1970, 1, 1, 0, 0, 0, 0).AddSeconds(ts).ToLocalTime();
                string formattedDate = dt.ToString("dd-MM-yyyy");
                <td>@formattedDate</td>
            }
            @{
                switch (item.status)
                {
                    case "Đặt hàng":
                        // Use the text block below to separate html elements from code
                        <td><span class="status text-warning">&bull;</span>  @item.status</td>
                        break;  // Always break each case
                    case "Đóng gói":
                        <
                        <td><span class="status text-info">&bull;</span>  @item.status</td>
                        break;
                    case "Vận chuyển":
                        <td><span class="status text-info">&bull;</span>  @item.status</td>
                        break;
                    case "Nhận hàng":
                        <td><span class="status text-success">&bull;</span>  @item.status</td>
                        break;
                    case "Hủy":
                        <td><span class="status text-danger">&bull;</span>  @item.status</td>
                        break;
                    default:
                        <td><span class="status text-warning">&bull;</span>  @item.status</td>
                        break;
                }
            }

            <td>@string.Format("{0:0,0}", item.total) VNĐ</td>
            <td>
                <button onclick="ChiTietDH('@item.id', '@user.name', '@user.address','@user.province_code','@user.district_code','@user.ward_code','@user.phone')" data-toggle="tooltip" title="Chi tiết đơn hàng">
                    <i class="material-icons">&#xE5C8;</i>
                </button>
            </td>
        </tr>
    }
</tbody>