

@*@model IEnumerable<TriThucOnline_TTN.Models.DAUSACH>*@

<section class="center slider" style="">
    @foreach (var item in ViewBag.ListBooks)
    {
        <div style="height:300px">
            
            <a href="@Url.Action("Details", "DAUSACH", new { @id = item.id })">

                <img class="pic_book" src="@item.picture" alt="Alternate Text" />
                <p class="title_book">@item.title</p>
            </a>
            <p class="price_book">@String.Format("{0:0,0}", @item.price)</p>

        </div>
    }
</section>
