@using TriThucOnline_TTN.Models;
@model User

<table class="table table-bordered table-hover table-condensed table-striped">
    <thead>
        <tr>
            <th>Mã đơn hàng:</th>
            <th>Tên khách hàng:</th>
            <th>Ngày mua hàng:</th>
            <th>SĐT khách hàng:</th>
            <th>Ngày yêu cầu giao:</th>
            <th>Trạng thái:</th>
            <th>Tổng tiền:</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.orders)
        {
        <tr>
            <td>@item.id</td>
            <td>@Model.name</td>
            <td>@item.order_date</td>
            <td>@Model.phone</td>
            <td>@item.required_date</td>
            <td>@item.status</td>
            <td>@item.total</td>
        </tr>
        }
    </tbody>
</table>


