@model TriThucOnline_TTN.Models.User

<table class="table table-bordered table-hover table-condensed table-striped">
    <thead>
        <tr>
            <th>Mã:</th>
            <th>Tên khách hàng:</th>
            <th>Ảnh khách hàng:</th>
            <th>SĐT khách hàng:</th>
            <th>Email khách hàng:</th>
            <th>Địa chỉ khách hàng:</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width:40px">@Model.id</td>
            <td>@Model.name</td>
            <td>
                <img src="@Model.picture" class="img-responsive" style="width: 150px; height: auto">
            </td>
            <td>@Model.phone</td>
            <td>@Model.email</td>
            <td style="width:250px">@Model.address</td>
        </tr>
    </tbody>
</table>


