@using PagedList.Mvc;
@using PagedList;
@model PagedList.PagedList<TriThucOnline_TTN.Models.Category>

<div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>
                    <span class="text-primary">Mã</span>

                </th>
                <th>
                    <span class="text-primary">Tên thể loại</span>
                </th>
                <th>
                    <span class="text-primary">Chức năng</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        <!-- <a href="@Url.Action("Edit", new { @MaNXB = item.id })">
                            <i class="far fa-edit"></i>
                        </a> -->
                        <button onclick="edit('@item.id', '@item.name')" style="color:blue">
                            <i class="far fa-edit"></i>
                        </button>
                        <button onclick="ChiTietTheLoai('@item.id')">
                            <i class="fas fa-info-circle"></i>
                        </button>
                        <button onclick="delete_article('@item.id', @Model.PageNumber)" style="color:red">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            }

           
        </tbody>
    </table>
</div>