@model TriThucOnline_TTN.Models.Books

<div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th width="80">
                    <span class="text-primary">Mã</span>
                </th>
                <th>
                    <span class="text-primary">Tên sách</span>

                </th>
                <th>
                    <span class="text-primary">Ảnh bìa</span>

                </th>
                <th>
                    <span class="text-primary">Số lượng tồn</span>

                </th>
                <th>
                    <span class="text-primary">Thể loại</span>

                </th>
                <th>
                    <span class="text-primary">NXB</span>

                </th>
                <th><span class="text-primary">Chức năng</span></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.items)
            {
                <tr>
                    <td width="80">
                        @item.id
                    </td>
                    <td width="200">
                        @item.title
                    </td>
                    <td>
                        <div id="AnhBia">
                            <img src="@item.picture" class="img-responsive" style="width: 150px; height: auto" />
                        </div>
                    </td>
                    <td>
                        @item.quantity
                    </td>
                    <td>
                        @item.author_name
                    </td>
                    <td>
                        @item.category_name
                    </td>
                    <td>
                        @*@Html.ActionLink("Chỉnh sửa", "ChinhSua", new { @MaSach = item.MaSach }) |
                            @Html.ActionLink("Hiển thị", "HienThi", new { @MaSach = item.MaSach }) |
                            @Html.ActionLink("Xoa", "Xoa", new { @MaSach = item.MaSach })*@

                        <a href="/QuanLySach/ChinhSua?MaSach=@item.id"><i class="far fa-edit"></i></a>
                        @*<a href="/QuanLySach/HienThi?MaSach=@item.MaSach" class="btn btn-primary btn-sm btn-color-primary"><i class="glyphicon glyphicon-eye-open"></i></a>*@
                        <button onclick="ChiTietSach('@item.id')"><i class="fas fa-info-circle"></i></button>
                        <button onclick="delete_article('@item.id')"><i class="far fa-trash-alt" style="color:red"></i></button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    Trang @Model.page/@Model.pages
    <div class="MenuTrang">
        <ul class="pagination">
            @for (var i = 1; i <= Model.pages; i++)
            {
                <li class="page-item @(i == Model.page ? "active" : "")">
                    <a class="page-link" onclick="NextPage(@i)">@i</a>
                </li>
            }
        </ul>
    </div>
    <script>
        $(document).ready(function () {
            $("html, body").animate({ scrollTop: 0 }, 500);
            $('.MenuTrang').find('li').addClass('page-item');
            $('.MenuTrang').find('li').find('a').addClass('page-link');
        })
    </script>