@using PagedList.Mvc;
@using PagedList;
@model PagedList.PagedList<TriThucOnline_TTN.Models.Book>

<div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th width="80">
                    <span class="text-primary">Mã</span>
                </th>
                <th>
                    <span class="text-primary">Tên sách</span>

                </th>
                <th>
                    <span class="text-primary">Ảnh bìa</span>

                </th>
                <th>
                    <span class="text-primary">Số lượng tồn</span>

                </th>
                <th>
                    <span class="text-primary">Thể loại</span>

                </th>
                <th>
                    <span class="text-primary">NXB</span>

                </th>
                <th><span class="text-primary">Chức năng</span></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td width="80">
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td width="200">
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td>
                        <div id="AnhBia">
                            <img src="@item.picture" class="img-responsive" style="width: 150px; height: auto" />
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.category_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.publisher_name)
                    </td>
                    <td>
                        @*@Html.ActionLink("Chỉnh sửa", "ChinhSua", new { @MaSach = item.id }) |
                            @Html.ActionLink("Hiển thị", "HienThi", new { @MaSach = item.id }) |
                            @Html.ActionLink("Xoa", "Xoa", new { @MaSach = item.id })*@

                        <a href="/QuanLySach/ChinhSua?MaSach=@item.id"><i class="far fa-edit"></i></a>
                        @*<a href="/QuanLySach/HienThi?MaSach=@item.id" class="btn btn-primary btn-sm btn-color-primary"><i class="glyphicon glyphicon-eye-open"></i></a>*@
                        <button onclick="ChiTietSach('@item.id')"><i class="fas fa-info-circle"></i></button>
                        <button onclick="delete_article('@item.id')"><i class="far fa-trash-alt" style="color:red"></i></button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Search", new { page = page })
   )
</div>
<script>
    $(document).ready(function () {
        
        $('.MenuTrang').find('li').addClass('page-item');
        $('.MenuTrang').find('li').find('a').addClass('page-link');
    })
</script>
