@model TriThucOnline_TTN.Models.Book

<table class="table table-bordered table-hover table-condensed table-striped">
    <thead>
        <tr>
            <th>Tên sách:</th>
            <th>Giá bán:</th>
            <th>Mô tả:</th>
            <th>Ngày cập nhật:</th>
            <th>Chủ đề:</th>
            <th>Nhà xuất bản:</th>
            <th>Tác giả:</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>@Model.title </ td >
            <td>@string.Format("{0:0,0}", Model.price) VNĐ</td>
            @if (Model.quotes_about.Length <= 140)
            {
                <td>@Model.quotes_about</td>
            }
            else
            {
                <td>@Model.quotes_about.Substring(0, 140) ...</td>
            }
            <td>@Model.publish_year </ td >
            <td>@Model.category_name </ td >
            <td>@Model.publisher_name </ td >
            <td>@Model.author_name </ td >

        </tr>

    </tbody>
</table>
