@model TriThucOnline_TTN.Models.DONHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DONHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayMuaHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayMuaHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayGiao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGiao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThaiThanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThaiThanhToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThaiGiao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThaiGiao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHACHHANG.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.TenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHUYENMAI.MaKM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHUYENMAI.MaKM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
