@using PagedList.Mvc;
@using PagedList;
@model PagedList.PagedList<TriThucOnline_TTN.Models.Coupon>

<div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>
                    <span class="text-primary">Mã khuyễn mãi</span>

                </th>
                <th>
                    <span class="text-primary">Giá trị khuyễn mãi (%)</span>
                </th>
                <th>
                    <span class="text-primary">Chức năng</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.discount)
                    </td>
                    <td>
                    @if(item.is_enable)
                    {
                        <button onclick="edit('@item.code', '@item.description','@item.discount','@item.count','@item.valid_from','@item.valid_until','1')" style="color:blue">
                            <i class="far fa-edit"></i>
                        </button>
                    }
                    else
                    {
                        <button onclick="edit('@item.code', '@item.description','@item.discount','@item.count','@item.valid_from','@item.valid_until','0')" style="color:blue">
                            <i class="far fa-edit"></i>
                        </button>
                    }
                        
                        <button onclick="ChiTietKM('@item.code')">
                            <i class="fas fa-info-circle"></i>
                        </button>
                        <button onclick="delete_article('@item.code')" style="color:red">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            }

           
        </tbody>
    </table>
</div>
