@using TriThucOnline_TTN.Models;
@model Coupon

<table class="table table-bordered table-hover table-condensed table-striped">
    <thead>
        <tr>
            <th>Mã khuyễn mãi:</th>
            <th>Mô tả:</th>
            <th>Ngày bắt đầu:</th>
            <th>Ngày kết thúc:</th>
            <th>Giá trị khuyễn mãi (%):</th>
            <th>Tối đa:</th>
            <th>Số lần còn lại:</th>
            <th>Có thể sử dụng:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.code</td>
            <td>@Model.description</td>
            <td>@Model.valid_from</td>
            <td>@Model.valid_until</td>
            <td>@Model.discount</td>
            <td>@Model.max_value</td>
            <td>@Model.count</td>
            <td>@Model.is_enable</td>
        </tr>
    </tbody>
</table>

